HA_URL=http://192.168.1.78:8123
HA_TOKEN=
HA_HOME_MODE_ENTITY_ID=input_select.home_mode
# Valgfri overstyring dersom Gjestemodus har en annen entity-id.
HA_GUEST_MODE_ENTITY_ID=input_boolean.gjest
HA_GUEST_VOUCHER_SENSOR_ID=sensor.67647a4bca314858fac0f8fc_voucher
HA_GUEST_VOUCHER_CREATE_BUTTON_ID=button.67647a4bca314858fac0f8fc_create
DASHBOARD_PORT=3000
